.page {
  overflow: scroll;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.container {
  height: 750px;
}

button[type="submit"] {
  cursor: pointer;
}

.note {
  text-align: center;
  margin: 20px 0;
}

.login-card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-weight: bold;
  font-size: 22px;
  color: #3f51b5;
}
.icon {
  cursor: pointer;
}
.button-spin-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4055ae;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.already-has-account {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-text {
  display: block;
  margin-top: 1em;
}
