// .page {
//   overflow: scroll;
//   height: 100%;
//   margin: 0 auto;
//   padding: 10px 0;
//   background-color: #fff;
//   border-left: 1px solid #dddddd;
//   border-right: 1px solid #dddddd;
// }

// .container {
//   margin-top: 50px;
//   margin-bottom: 30px;
//   text-align: center;
// }

// .heading {
//   margin: 30px 0;
// }

// .form-group {
//   max-width: 500px;
//   margin-left: auto;
//   margin-right: auto;
// }

// button[type="submit"] {
//   cursor: pointer;
// }

// .note {
//   text-align: center;
//   margin: 20px 0;
// }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 715px;
  background: -moz-linear-gradient(top, #ffc778, rgba(255, 0, 0, 0.1));
  background: -webkit-linear-gradient(top, #ffc778, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #ffc778, rgba(255, 0, 0, 0.1));
}

.form-area {
  background-color: #ffffff;
  width: 250px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 40px;
}
.signup-link {
  text-decoration: none;
}

.button-spin-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4055ae;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-text {
  display: block;
  margin-top: 1em;
}
