.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: -moz-linear-gradient(top, #ffc778, rgba(255, 0, 0, 0.1));
  background: -webkit-linear-gradient(top, #ffc778, rgba(255, 0, 0, 0.1));
  background: linear-gradient(to bottom, #ffc778, rgba(255, 0, 0, 0.1));
}

.navbar-title {
  color: #272525;
  text-decoration: none;
  font-size: 18px;
}

.navbar-login {
  color: #272525;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  position: absolute;
  right: 1px;
}
.blog {
  color: #272525;
  font-size: 18px;
  margin: 10px;
}
