.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-title {
  color: #272525;
  text-decoration: none;
  font-size: 18px;
}

.navbar-login {
  color: #272525;
  text-decoration: none;

  font-size: 18px;
}
