<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <div class="nav-caption">新規登録</div>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>

    <div class="nav-caption">ログイン</div></a
  >
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>

    <div class="nav-caption">訓練</div></a
  >
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>eject</mat-icon>

    <div class="nav-caption">ログアウト</div></a
  >
</mat-nav-list>
